@import './global';

a:hover {
  color: red;
}

.seckill {
  display: flex;
  height: 260px;
  margin-top: 30px;
  @extend %l-wrapper;
}

.seckill {
  &__time {
    width: 190px;
    background-color: pink;
    background-image: url('../images/z.png');
    color: white;
    text-align: center;
  }

  &__title {
    margin-top: 30px;
    font: normal bold 30px '';
  }

  &__field {
    margin-top: 100px;
    font: normal 400 16px '';
  }

  &__inner {
    margin-top: 10px;
    padding: auto;
  }

  &__timmer--unit {
    float: left;
    font: normal 700 20px '';

    &:nth-child(odd) {
      padding: 1px 3px;
      background-color: #000;
    }

    &:nth-child(even) {
      margin: 0 6px;
    }

    &:first-child {
      margin-left: 30px;
    }
  }
}

.seckill {
  &__goods {
    flex: auto;
    background-color: white;
  }

  &__goods-items {
    position: relative;
    float: left;
    width: 200px;
    height: 100%;

    &:hover img {
      opacity: .7;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;

      height: 100%;
      width: 1px;

      background-image: linear-gradient(to bottom, transparent, rgba(204, 204, 204, .5), transparent)
    }

  }

  &__goods-img {
    width: 200px;
    height: 185px;
    transition: all .5s;
  }

  &__item-name {
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__money {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 160px;
    height: 25px;
    margin: 5px auto;
    border: 1px solid red;
    background-color: white;
    text-align: center;
    line-height: 25px;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      left: 76px;
      border-left: 0 solid transparent;
      border-bottom: 0 solid transparent;
      border-top: 23px solid red;
      border-right: 16px solid white;
    }
  }

  &__money-item-top {
    flex: auto;
    height: 25px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 700;
    transform: translate(-1px, -1px);
  }

  &__money-item-bottom {
    flex: auto;
    color: #ccc;
    text-decoration: line-through;
  }

}

.seckill {
  &__brand {
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    background-color: white;
  }

  &__brand-to {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, transparent, #eff0f5)
  }

  &__brand-img {
    width: 120px;
    margin: 20px 0 10px;
  }

  &__brand-info {
    color: rgb(158, 157, 157);
    font-size: 14px;
  }

  &__brand-title {
    margin: 5px 0;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }

  &__brand-btn {
    width: 90px;
    margin-bottom: 10px;
    border: 1px solid red;
    border-radius: 16px;
    color: red;
    font-weight: bold;

    i {
      vertical-align: -1px;
    }

    &:hover {
      background-color: red;
      color: white;
    }
  }
}